html, body, div, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

/*--------------------- CSS Reset --------------------*/
header {
  height: 60px;
  background-color: #333327; }

#header-nav img {
  margin-left: 130px; }

#feature img {
  width: 100%;
  /*clear: both;*/
  position: absolute;
  top: 60px; }

#degree {
  background-color: rgba(26, 26, 26, 0.7);
  color: #fff;
  font-family: Arial, sans-serif;
  margin-left: 230px;
  top: 280px;
  position: relative;
  z-index: 1;
  width: 260px;
  height: 80px; }
  #degree p {
    padding-left: 30px; }

#online {
  font-style: italic; }

#requestform {
  float: right;
  background-color: #34301f;
  position: relative;
  z-index: 2;
  top: 30px;
  right: 180px;
  color: #fff; }
  #requestform p {
    /*font-family: Verdana;*/
    width: 290px;
    font-size: 10px;
    padding-left: 15px;
    padding-bottom: 30px;
    font-family: Verdana, sans-serif; }

fieldset {
  border: none;
  margin: 0 15px 10px 15px; }

label {
  display: block;
  font-size: 11.5px;
  margin-bottom: 2px;
  font-family: 'Francois One', sans-serif; }

h5 {
  margin: 15px 0 15px 15px;
  font-family: 'Francois One', sans-serif;
  font-size: 15px;
  font-weight: lighter; }

input {
  width: 300px;
  height: 25px;
  border-radius: 3px;
  background-color: #eee; }

#submit {
  width: 307px;
  background: #f16020;
  color: #fff;
  font-family: 'Francois One', sans-serif;
  height: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  font-size: 15px; }

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #444444; }

#about {
  margin-top: 350px;
  margin-left: 150px;
  width: 600px; }
  #about p {
    font-family: Arial, sans-serif;
    color: #7d7d7d;
    padding-top: 20px; }

#aof_header {
  font-family: 'Open Sans', sans-serif;
  margin: 50px 0 90px 150px; }
  #aof_header p {
    margin-top: -13px;
    margin-left: 420px;
    color: #7d7d7d;
    font-weight: bold; }

.line {
  height: 2px;
  background-color: #ececec;
  width: 390px; }

#linetwo {
  margin: -12px 0 20px 583px; }

#features {
  background-color: #d4d4d4;
  width: 100%;
  margin-left: 0;
  /*height: 300px;*/ }
  #features h3 {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    text-align: center;
    padding-bottom: 10px; }
  #features p {
    font-family: Arial, sans-serif;
    color: #7d7d7d;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 70px; }

.features_info {
  padding-left: 85px;
  margin-top: -50px; }

#experience {
  background-color: #b1b1b1; }
  #experience h4 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: 1px; }
  #experience h3 {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    font-size: 25px;
    margin-bottom: 20px;
    /*margin-top: 15px;*/ }

.info {
  font-family: Arial, sans-serif;
  color: #7d7d7d;
  padding-bottom: 15px; }

#launchbox {
  font-weight: bold;
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  margin-top: -20px;
  padding-bottom: 15px; }

.carousel {
  width: 800px;
  overflow: hidden;
  /*position: relative;*/ }
  .carousel ul {
    width: 2920px;
    padding: 0;
    margin: 0; }
    .carousel ul li {
      width: 480px;
      /*text-align: center;*/
      /*height: 280px;*/
      list-style: none;
      float: left;
      /*position: absolute;*/ }

.item {
  margin: 3px;
  margin: 3px 3px 3px 150px; }

.item img {
  display: block;
  width: 100%;
  height: auto; }

.ex_image {
  margin-left: 100px; }

.ex_info {
  margin-left: 70px; }

/*.carousel {
  position: relative;
  list-style: none;
}

.carousel > li {
  position: absolute;
}

.carousel > li:not(.active) {
  display: none;
}*/
footer {
  background-color: #333327;
  color: #7d7d7d;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 40px; }
  footer p {
    padding-bottom: 20px; }

a {
  color: #f16020; }

.styled_select select {
  background-color: #eee;
  width: 305px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
  height: 34px;
  font-family: Arial, sans-serif;
  -webkit-appearance: none; }

/*.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }*/
/*--------------------- Media Queries --------------------------*/
@media only screen and (max-width: 1255px) {
  #degree {
    top: 230px; }

  #about {
    margin-left: 40px;
    margin-top: 320px; } }
@media only screen and (max-width: 1168px) {
  #requestform {
    right: 80px; }

  #about {
    margin-top: 290px; }

  #aof_header {
    margin-left: 50px; }

  .ex_info {
    margin-left: 100px; } }
@media only screen and (max-width: 1104px) {
  #requestform {
    right: 50px; }

  #degree {
    top: 210px;
    margin-left: 210px; }

  #about {
    margin-top: 260px; } }
@media only screen and (max-width: 1021px) {
  #requestform {
    right: 50px; }

  #degree {
    top: 170px;
    margin-left: 140px; }

  #about {
    margin-top: 240px;
    width: 500px; }

  #aof_header {
    margin-left: 30px; }
    #aof_header p {
      margin-left: 380px; }

  .line {
    width: 350px; }

  #linetwo {
    margin-left: 553px; }

  #ex_image {
    margin-top: 30px; } }
@media only screen and (max-width: 959px) {
  .features_info {
    padding-left: 60px; } }
@media only screen and (max-width: 880px) {
  #requestform {
    right: 20px; }

  #degree {
    top: 150px;
    margin-left: 90px; }

  #about {
    margin-top: 230px;
    width: 400px; }

  #aof_header p {
    margin-left: 330px; }

  .line {
    width: 300px; }

  #linetwo {
    margin-left: 495px; }

  .ex_image {
    margin-top: 30px;
    margin-left: 0; }

  .ex_info {
    margin-left: 40px; } }
@media only screen and (max-width: 797px) {
  #requestform {
    right: 0; }

  #degree {
    top: 130px; }

  #about {
    margin-top: 180px;
    margin-left: 10px; }

  #aof_header {
    margin-top: 90px; }
    #aof_header p {
      margin-left: 290px; }

  .line {
    width: 35%; }

  #linetwo {
    margin-left: 445px; }

  .ex_image {
    margin-top: 50px;
    margin-left: 0; }

  .ex_info {
    margin-left: 40px; } }
@media only screen and (max-width: 767px) {
  .features_info {
    padding-left: 150px; } }
@media only screen and (max-width: 741px) {
  #requestform {
    right: 0; }

  #degree {
    top: 100px;
    margin-left: 70px; }

  #about {
    margin-top: 160px;
    margin-left: 10px;
    width: 350px; }

  #aof_header {
    margin-top: 90px; }
    #aof_header p {
      margin-left: 290px; }

  .line {
    width: 35%; }

  #linetwo {
    margin-left: 445px; }

  .ex_image {
    margin-top: 50px;
    margin-left: 0; }

  .ex_info {
    margin-left: 40px; } }
@media only screen and (max-width: 670px) {
  #requestform {
    right: 0; }

  #degree {
    top: 100px;
    margin-left: 30px; }

  #about {
    margin-top: 160px;
    margin-left: 10px;
    width: 350px; }

  #aof_header {
    margin-left: 10px; }
    #aof_header p {
      margin-left: 250px; }

  #linetwo {
    margin-left: 408px; }

  .ex_image {
    margin-top: 100px; } }
@media only screen and (max-width: 620px) {
  #requestform {
    /*top: -515px;*/
    top: -20px;
    right: 0;
    position: relative;
    width: 100%; }
    #requestform h5 {
      margin: 15px 0 15px 15px; }
    #requestform p {
      width: 500px;
      padding-left: 50px;
      line-height: 1.5; }

  #submit {
    width: 505px; }

  input {
    width: 500px; }

  fieldset {
    border: none;
    margin: 0 0 10px 50px; }

  .styled_select select {
    width: 505px; }

  #degree {
    margin: 0;
    top: 170px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: transparent;
    width: 243px; }

  #about {
    margin-top: 190px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 5px;
    width: 500px; }

  .features_info {
    padding-left: 90px; }

  #aof_header {
    margin-left: 0; }
    #aof_header p {
      margin-left: 243px; }

  /*	.line{
  		width: 25%;
  		margin-left: 15px;
  	}*/
  #linetwo {
    margin-left: 400px; }

  .features_info {
    padding-left: 150px; }

  .ex_info {
    margin-left: 50px; } }
@media only screen and (max-width: 583px) {
  #requestform {
    /*top: -515px;*/
    top: -40px;
    right: 0;
    position: relative;
    width: 100%; }

  #degree {
    top: 140px; }

  fieldset {
    border: none;
    margin: 0 0 10px 30px; }

  #aof_header {
    margin-left: 10px; }
    #aof_header p {
      margin-left: 220px; }

  #linetwo {
    margin-left: 360px; } }
@media only screen and (max-width: 575px) {
  #requestform {
    /*top: -515px;*/
    top: -40px;
    right: 0;
    position: relative;
    width: 100%; }

  #degree {
    top: 140px; }

  fieldset {
    border: none;
    margin: 0 0 10px 30px; }

  #aof_header {
    margin-left: 90px; }
    #aof_header p {
      margin-left: 115px; }

  .line {
    width: 20%; }

  #linetwo {
    margin-left: 270px; } }
@media only screen and (max-width: 542px) {
  #requestform p {
    padding-left: 30px; }

  fieldset {
    border: none;
    margin: 0 0 10px 20px; }

  #aof_header {
    margin-left: 90px; }
    #aof_header p {
      margin-left: 115px; }

  .line {
    width: 20%; }

  #linetwo {
    margin-left: 270px; } }
@media only screen and (max-width: 575px) {
  #about {
    width: 400px; }

  #requestform p {
    width: 450px;
    padding-left: 20px; }

  input {
    width: 450px; }

  .styled_select select, #submit {
    width: 455px; } }
@media only screen and (max-width: 482px) {
  #requestform {
    top: -65px; }

  #degree {
    top: 120px; }

  #aof_header {
    margin-left: 50px; } }
@media only screen and (max-width: 479px) {
  .features_info {
    padding-left: 90px; } }
@media only screen and (max-width: 475px) {
  #requestform {
    /*top: -515px;*/
    top: -15px;
    right: 0;
    position: relative;
    width: 100%; }
    #requestform h5 {
      margin: 15px 0 15px 15px; }
    #requestform p {
      width: 350px; }

  #submit {
    width: 365px; }

  input {
    width: 360px; }

  fieldset {
    border: none;
    margin: 0 0 10px 15px; }

  .styled_select select {
    width: 368px; }

  #degree {
    margin: 0;
    top: 115px;
    position: absolute;
    right: 0;
    left: 155px;
    background-color: transparent;
    width: 243px; }

  #about {
    margin-top: 130px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 5px;
    width: 300px; }

  .features_info {
    padding-left: 90px; }

  .ex_image {
    margin-left: -80px; }

  .ex_info {
    margin-left: 50px; } }
@media only screen and (max-width: 473px) {
  fieldset {
    border: none;
    margin: 0 0 10px 30px; } }
@media only screen and (max-width: 405px) {
  #degree {
    top: 100px; }

  #requestform {
    top: -30px; }

  fieldset {
    margin: 0 0 10px 10px; }

  #aof_header {
    margin-left: 15px; } }
@media only screen and (max-width: 378px) {
  #requestform p {
    padding-left: 10px; }

  input {
    width: 340px; }

  .styled_select select, #submit {
    width: 348px; }

  #degree {
    left: 120px; } }
@media only screen and (max-width: 342px) {
  #header-nav img {
    margin-left: 70px; }

  #requestform {
    top: -55px;
    right: 0; }
    #requestform p {
      width: 290px;
      padding-left: 10px; }

  #degree {
    top: 90px;
    left: 90px; }

  input {
    width: 300px; }

  .styled_select select, #submit {
    width: 304px; }

  #about {
    margin-top: 150px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 5px;
    width: 300px; }

  #aof_header {
    padding-left: 5px;
    margin-left: 0; }
    #aof_header p {
      margin-left: 95px; }

  #linetwo {
    margin-left: 260px; }

  .features_info {
    padding-left: 90px; } }
